{% extends 'layout.html' %}

{% block title %} index {% endblock %}

{% block header %} Forum {% endblock %}

{% block main %}

  {% if posts == [] %}
    <p>no posts yet! post something!</p>
  {% else %}
  <div class="form-group shadow-textarea">
    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="9" cols="2"
    placeholder="Title" name="post_content" type="text" required></textarea>
  </div>
    <table>
      <thead>
        <tr>
          <th width="100%" cellspacing="8" cellpadding="0" border="10" align="center" scope="col">Title</th>
          <th width="100%" cellspacing="8" cellpadding="0" border="10" align="center"scope="col">User</th>
          <th width="100%" cellspacing="8" cellpadding="0" border="10" align="center"scope="col">Preview</th>
          <th width="100%" cellspacing="8" cellpadding="0" border="10" align="center"scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td><a href="{{ url_for('forum.forum_post', id=post['id']) }}">{{ post['title'] }}</a></td>
              <td><a href="{{ url_for('userpage.user', username=post['username'])}}">
                {{ post['username'] }}
              </a>
              </td>
            <td>{{ post['post_content'][0:29] }}</td>
            <td>{{ post['created'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <form action="/" method="post">
    <input autofocus name="title" placeholder="Title" type="text" maxlength="128" required style="" width:284px;>
  <div class="form-group shadow-textarea">
    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="9" 
    placeholder="Write something here..." name="post_content" cols="10"  type="text" required></textarea>
  </div>

     <input type="checkbox" name="tags" value="science">
      Science
    <input type="checkbox" name="tags" value="math">
      Math
    <input type="checkbox" name="tags" value="language">
      Language
    <input type="checkbox" name="tags" value="history">
      History
    <input type="text" name="other_tags">
      Other tags: separate by space
      <input type="submit" value="Publish">

{% endblock %}
