{% extends 'layout.html' %}

{% block title %} index {% endblock %}

{% block header %} Forum {% endblock %}

{% block main %}

  <h1>
    {{ forum_post['title']}}
  </h1>
  <h2>
    <a href="{{ url_for('userpage.user', username=forum_post['username'])}}"> {{ forum_post['username'] }}</a>
  </h2>
  
  <div class="container" style="background-color: hsl(203, 28%, 52%); border-radius: 25px;">
    {{ html_post|safe }}
  </div>
  

<form class="form">
    <div class="form"> 
      <textarea name="comment" style="padding-bottom: 20px" rows="4" cols="100" placeholder="leave a comment!" type="text" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit" value="Comment" style="box-sizing: border-box;">
      comment 
    </button>
  </form>

{% if comments %}
<ul>
  {% for comment in comments %}
<div class="card" style="width: 30rem;">
  <div class="card-header">
    <li> <a href="{{ url_for('userpage.user', username=comment['username'])}}"> {{ comment['username'] }} </a>
  </div>
  <div class="card-body" style="width: 40rem;">
    <p style="width= 28px;" class=card-text>{{ comment['created'] }}: {{ comment['comment_content'] }}</p>
    <a href="{{ url_for('userpage.user', username=comment['username'])}}" class=btn btn-primary>Go to profile</a>
  </div>
</div>
   {% endfor %}
  </ul> 
  {% endif %}

{% if tags %} 
<ul>
  {% for tag in tags %}
<div class="card" style="width: 18rem;" style="align-items: left;">
  <div class="card-body">
    <h5 class="card-title">Tag</h5>
    <p class="card-text">{{ tag['tag_content'] }}</p>
  </div>
</div>
</ul>
 
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
