{% extends 'layout.html' %}

{% block title %} User {% endblock %}

{% block header %} Userpage {% endblock %}

{% block main %}

    <div class="container pb-5">
      <div class="row">
        <h1 class="display-1">{{ user_info['username'] }}</h1>
        <p>Joined: {{ user_info['created'] }}</p>
      </div>
      <a class="btn btn-primary" href="{{ url_for('chat.chat', username=user_info['username']) }}" role="button">
        Chat with {{ user_info['username'] }}!
      </a>
    </div>

    <div class="container">
      <h3 class="mr-auto">{{ user_info['bio'] }}</h3>
      {% if g.user['id'] == user_info['id'] %}
        <form action='/edit' method='post'>
          <div class="form-group">
            <label for="bioInput">bio:</label>
            <textarea class="form-control mb-1" id="bioInput" placeholder="edit bio here!" name="new_bio" rows=3></textarea>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      {% endif %}
    </div>

    <div class="container">
      <ul class="list-group">
        <li class="list-group-item"> email: </li>
        <li class="list-group-item"> 
          <div class="d-flex justify-content-between">
            <h6>github: {{ user_info['github'] }}</h6>
            {% if g.user['id'] == user_info['id'] %}
              <form class="form-inline" action='/social/github' method='post'>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="socialGithub" placeholder="GitHub">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Update</button>
              </form>
            {% endif %}
          </div>
        </li>
        <li class="list-group-item"> 
          <div class="d-flex justify-content-between">
            <h6>discord: {{ user_info['discord'] }}</h6>
            {% if g.user['id'] == user_info['id'] %}
              <form class="form-inline" action='/social/discord' method='post'>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="socialDiscord" placeholder="Discord">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Update</button>
              </form>
            {% endif %}
          </div>
        </li>
        <li class="list-group-item"> 
          <div class="d-flex justify-content-between">
            <h6>twitter: {{ user_info['twitter'] }}</h6>
            {% if g.user['id'] == user_info['id'] %}
              <form class="form-inline" action='/social/twitter' method='post'>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="socialTwitter" placeholder="Twitter">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Update</button>
              </form>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>

    
    <div class="container mt-3">
      <h2>{{ user_info['username'] }}'s posts</h2>

      {% if not user_posts %}
        <p>This user has no posts yet</p>
      {% else %}
        {% for post in user_posts %}
          <div class="card my-3" style="width: 40rem;">
            <div class="card-body">
              <h4 class="card-title" ">{{ post['title'] }}</h4>
              <p class="card-text">{{ post['post_content'][0:29] }}</p>
              <p>{{ post['created'] }}</p>
              <a class="stretched-link" href="{{ url_for('forum.forum_post', id=post['id']) }}" ></a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>


{% endblock %}