{% extends 'layout.html' %}


{% block title %} login {% endblock %}

{% block header %} Login {% endblock %}

{% block main %}
    <form class="form text-center p-5" action="/login" method="post">
      <div class="form-group">
        <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" required>
      </div>
      <div class="form-group">
        <input name="password" placeholder="Password" type="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock %}
