{% extends 'layout.html' %}

{% block title %} register {% endblock %}

{% block header %} Register {% endblock %}

{% block main %}
  <form class="text-center p-5" action="/register" method="post">
    <div class="form-group">
      <input autocomplete="off" autofocus name="email" placeholder="Email" type="email" required>
    </div>
    <div class="form-group">
      <input name="username" placeholder="Username" type="text" required>
    </div>
    <div class="form-group">
      <input name="password" placeholder="Password" type="password" required>
      <input name="password" placeholder="Confirm" type="password" required>
    </div>
    <select name="language" required>
      <option value="eng" selected>English</option>
      <option value="cmn">Mandarin Chinese</option>
      <option value="hin">Hindi</option>
      <option value="spa">Spanish</option>
    </select>
    <input type="submit" value="Register!">
  </form>
{% endblock %}

